In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv("Fraud_check.csv")
df=pd.DataFrame(data)
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.2+ KB

In [4]:
df.isnull().sum()

Undergrad          0
Marital.Status     0
Taxable.Income     0
City.Population    0
Work.Experience    0
Urban              0
dtype: int64

In [5]:
df.dtypes

Undergrad          object
Marital.Status     object
Taxable.Income      int64
City.Population     int64
Work.Experience     int64
Urban              object
dtype: object

In [6]:
label_encoder = preprocessing.LabelEncoder() 
df[('Marital.Status')]= label_encoder.fit_transform(df[('Marital.Status')]) 
df[('Undergrad')]=label_encoder.fit_transform(df[('Undergrad')])
df[('Urban')]= label_encoder.fit_transform(df[('Urban')]) 
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,0,2,68833,50047,10,1
1,1,0,33700,134075,18,1
2,0,1,36925,160205,30,1
3,1,2,50190,193264,15,1
4,0,1,81002,27533,28,0

In [7]:
from sklearn.preprocessing import StandardScaler 
scaler=StandardScaler()
scaler_x=scaler.fit_transform(df)

In [8]:
x=df.drop("Taxable.Income",axis=1)
y=df["Taxable.Income"]

In [9]:
x.head()

   Undergrad  Marital.Status  City.Population  Work.Experience  Urban
0          0               2            50047               10      1
1          1               0           134075               18      1
2          0               1           160205               30      1
3          1               2           193264               15      1
4          0               1            27533               28      0

In [10]:
y.head()

0    68833
1    33700
2    36925
3    50190
4    81002
Name: Taxable.Income, dtype: int64

In [11]:
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state=12)

In [12]:
# fit model no training data
model = XGBClassifier()
model.fit(x_train, y_train)

c:\users\damanjeet kaur.laptop-b5chj9sc\appdata\local\programs\python\python37\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[03:03:14] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=4,
              num_parallel_tree=1, objective='multi:softprob', predictor='auto',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=None,
              subsample=1, tree_method='exact', validate_parameters=1,
              verbosity=None)

In [13]:
model_gini = DecisionTreeClassifier(criterion='gini', max_depth=6)

In [14]:
model_gini.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=6)

In [15]:
y_train_pred=model_gini.predict(x_train)

In [16]:
y_test_pred=model_gini.predict(x_test)

### Checking accuracy for train data

In [45]:
from sklearn.metrics import accuracy_score 
accuracy_score(y_train,y_train_pred)

0.8541666666666666

In [46]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train,y_train_pred)

array([[369,   0],
       [ 70,  41]], dtype=int64)

### Checking accuracy for test data

In [47]:
accuracy_score(y_test,y_test_pred)

0.8

In [48]:
confusion_matrix(y_test,y_test_pred)

array([[95, 12],
       [12,  1]], dtype=int64)